<a href="/studios">Studio Index</a>

<h1><%= @studio.name %></h1>

<p><%= @studio.japanese %> </p>
<p><%= @studio.rank %> </p>
<p><%= @studio.founded_on %> </p>

<a href="/studios/<%= @studio.id %>/edit">Edit</a>